*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#logo {
  position: absolute;
  top: 10px;
  left: 4px;
  z-index: 60;
  border: none;
  box-sizing: border-box;
  width: 100px;
  height: auto;
}

/* ----------------------------------------- */
/* Scrollbar
/* ----------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #999 inset;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #ff6400;
  /*#782e22*/
  border: 1px solid rgba(0, 0, 0, .4);
  box-shadow: 0 0 2px rgba(0, 0, 0, .4) inset;
}

/* ----------------------------------------- */
/* Images
/* ----------------------------------------- */
img {
  border: none;
  border-radius: 0;
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Basic Application Wrapper
 */
.app {
  max-height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  margin: 0;
  padding: 0;
}

/**
 * Pop-Out Window Application
 */
.window-app {

  .window-header {
    background: #333;
  }

  .window-content {
    padding: 8px;
    padding-bottom: 20px;
  }

  .window-resizable-handle {
    bottom: 0;
    right: 0;
    background: #444;
    padding: 0;
    border: none;
    border-radius: 5px 0 0 0;
    cursor: nwse-resize;
  }

  .window-resizable-handle i.fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

}

/* ---------------------------------------- */
/* Form Inputs                              */
/* ---------------------------------------- */

/* Text Input */
input[type="text"],
input[type="password"] {
  cursor: text;
}

/* Checkboxes */

/* Select Boxes */

/* Text Areas */

textarea {
  cursor: text;
}

/* Buttons */

button,
input,
select {
  cursor: pointer;
}

button:disabled,
input:disabled,
select:disabled {
  cursor: default;
}

/* Color Picker */
/* File Pickers */
/* Range Input */

input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 6px;
}

input[type=range]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 6px;
}