/* ----------------------------------------- */
/*  Game Pause
/* ----------------------------------------- */
#pause {
  width: auto;
  padding: 0 20px;
  border-radius: 10px;
  height: 50px;
  position: fixed;
  bottom: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  z-index: 10;
  // background: url("../ui/pausebg.png") no-repeat 50% 50%;
  background: #ff6400;
  box-shadow: 0 0 10px red;
  display: none;

  &::before {
    display: block;
    content: '';
    widtH: 128px;
    height: 128px;
    background: #ff6400;
    box-shadow: 0 0 10px red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
  }

  &::after {
    display: block;
    content: '';
    background: #ff6400;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 10px;
  }
  
  &.paused {
    display: block;
  }
  
  img {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
    height: 128px;
    width: 128px;
    opacity: .5;
    border: none;
    padding: 15px;
    -webkit-animation: rotation 5s infinite linear;
    z-index: 3;
  }
  
  @-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    }
    
    to {
      -webkit-transform: rotate(359deg);
    }
  }

  h3 {
    margin: 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    position: relative;
    z-index: 70;
    color: #fff;
    text-shadow: 0px 0px 5px red;
    text-transform: uppercase;
    font-weight: 600;
    // text-shadow: none;
  }

}//#pause