@import 'theme/_variables.scss';
@import 'theme/_general.scss';
@import 'theme/_connected-players.scss';
/* ---------------------------------------- */
/* Controls Reference                       */
/* ---------------------------------------- */
#controls-reference{

  .window-content {
    max-height: 75vh;
  }
  
  .notes {
    margin: 0 0 1rem 0;
  }
  
  h3 {
    border-bottom: 1px solid rgba(0,0,0,.3);
    padding-bottom: .5rem;
    font-weight: bold;
  }
  
  ol.hotkey-list {
    list-style: none;
    padding: 0 0 1.5rem 0;
  }
  
  ol.hotkey-list > li {
    margin: .5rem 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
  }
} 

@import 'theme/_mce-editor.scss';
@import 'theme/_hud.scss';
@import 'theme/_loader-bar.scss';
@import 'theme/_scene-navigation.scss';
@import 'theme/_toolbar.scss';
@import 'theme/_pause-indicator.scss';
@import 'theme/_hotbar.scss';
@import 'theme/_sidebar.scss';
@import 'theme/_folders.scss';
@import 'theme/_chat.scss';
@import 'theme/_combat-tracker.scss';
@import 'theme/_scenes.scss';
@import 'theme/_playlists.scss';
@import 'theme/_compendium.scss';
@import 'theme/_sidebar-popouts.scss';
@import 'theme/_image-popouts.scss';
@import 'theme/_module-management.scss';